<nav>
  <div class="nav-inner">
    <a class="site-name" href="/">{{ site.name }}</a>
    <ul>
      <li><a href="/#about">About</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/writing/">Writing</a></li>
    </ul>
  </div>
</nav>
